<%= render :partial => 'admin/show_errors', :locals => {:model => @job} %>
<script type="text/javascript">
  $('.nav-tabs a[href="#russian"]').tab('show');
</script>

<ul class="nav nav-tabs">
  <li class="active"><a href="#russian" data-toggle="tab">Русская версия</a></li>
  <li><a href="#english" data-toggle="tab">English version</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="russian">
    <div class="control-group">
      <%= f.label :title_ru, 'Название', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title_ru %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description_ru, 'Описание', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description_ru, :rows => 4, :class => 'span5' %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="english">
    <div class="control-group">
      <%= f.label :title_en, 'Название', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title_en %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description_en, 'Описание', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description_en, :rows => 4, :class => 'span5' %>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= f.submit :class => "btn btn-primary", :value => "Сохранить" %>
  <%= link_to "Отмена", js_back_url, :class => 'btn' %>
</div>
