<%= stylesheet_link_tag "validationEngine.jquery" %>
<%= javascript_include_tag "jquery.validationEngine", "jquery.validationEngine-#{locale}", "jquery.dropdown" %>

<script type="text/javascript">
  function custom_validator() {
    var count_required = $(".required:enabled").length;
    var count_required_values = 0;
    $(".required:enabled").each(function(i,e){
      var value = e.value;
      if (value != '') count_required_values += 1;
    });

    if (count_required == count_required_values) {
      var fieldset = $('form .disabled:first').removeClass('disabled').animate({opacity: 1});
      fieldset.find('input, select').prop('disabled', false);

      if (fieldset.find('.extra').length > 0) {
        fieldset.find('.extra.disabled').animate({opacity: 0.50}).find('input, select').prop('disabled', true);
      }
    }
  }

  $(function() {
    $('.education_1').hide().find('input, select').prop('disabled', true);
    $('.education_0 .add_education').click(function(){
      if ($('.education_0').hasClass('disabled')) return false;
      $('.education_1').fadeIn().find('input, select').prop('disabled', false);
      $(this).fadeOut();
      return false;
    });
    $('.education_1 .add_education').click(function(){
      $('.education_1').fadeOut().find('input, select').prop('disabled', true);
      $('.education_0 .add_education').fadeIn();
      return false;
    });

    $("form .required").keyup(function(){custom_validator()});
    $("form").validationEngine('attach', { relative: true });

    $('form fieldset:first').nextAll().addClass('disabled').animate({opacity: 0.50});
    $('form fieldset:last .extra:first').nextAll().addClass('disabled');
    $('form fieldset.education_1').removeClass('disabled').animate({opacity: 1}).hide();
    $('form fieldset.disabled').find('input, select').prop('disabled', true);

    $("form").live('ajax:before', function(event, elements) {
      $(".submit input").prop('disabled', true);
      $("form").fadeTo("slow", 0.00, function(){
        $('.thanks').fadeTo("slow", 1);
        $(this).slideUp("slow");
      });
    });

    $('a.send').hide();
  });
</script>

<div class="wrapper_700 app_form">
  <h3 class="title">Application Form</h3>

  <%= form_tag(application_form_path(locale), :remote => true) do -%>
    <fieldset>
      <legend class="box"><%= t('application_form.step1.title') %></legend>
      <div class="box">
        <div class="field">
          <%= label_tag 'application_form[personal][first_name]', t('contacts.first_name') %>
          <%= text_field_tag 'application_form[personal][first_name]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <%= label_tag 'application_form[personal][last_name]', t('contacts.last_name') %>
          <%= text_field_tag 'application_form[personal][last_name]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field date">
          <%= label_tag 'application_form[personal][birth_date]', t('application_form.step1.birth_date') %>
          <%= date_select 'application_form[personal]', 'birth_date', :start_year => 1955 %>
          <script type="text/javascript">
            $("#application_form_personal_birth_date_1i").MyDropdown();
            $("#application_form_personal_birth_date_2i").MyDropdown();
            $("#application_form_personal_birth_date_3i").MyDropdown();
          </script>
        </div>
        <div class="field citizenship">
          <%= label_tag 'application_form[personal][citizenship]', t('application_form.step1.citizenship') %>
          <%=	collection_select('application_form[personal]', :citizenship, countries, :id, "name_#{locale}") %>
          <script type="text/javascript">$("#application_form_personal_citizenship").MyDropdown();</script>
        </div>
        <div class="field country">
          <%= label_tag 'application_form[personal][country]', t('application_form.step1.country') %>
          <%=	collection_select('application_form[personal]', :country, countries, :id, "name_#{locale}") %>
          <script type="text/javascript">$("#application_form_personal_country").MyDropdown();</script>
        </div>
        <div class="field city">
          <%= label_tag 'application_form[personal][city]', t('application_form.step1.city') %>
          <%= text_field_tag 'application_form[personal][city]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field address">
          <%= label_tag 'application_form[personal][address]', t('application_form.step1.address') %>
          <%= text_field_tag 'application_form[personal][address]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <%= label_tag 'application_form[personal][phone]', t('application_form.step1.phone') %>
          <%= text_field_tag 'application_form[personal][phone]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <%= label_tag 'application_form[personal][email]', 'E-mail:' %>
          <%= text_field_tag 'application_form[personal][email]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="arrow_down"></div>
    </fieldset>

    <% 2.times do |number| %>
    <fieldset class="education_<%= number %>">
      <span href="#" class="add_education"><%= t('application_form.step2.add_education_'+number.to_s) %></span>
      <legend class="box">
        <%= t('application_form.step2.title_'+number.to_s) %>
      </legend>
      <div class="box">
        <div class="field">
          <%= label_tag 'application_form[education]['+number.to_s+'][institution]', t('application_form.step2.institution') %>
          <%= text_field_tag 'application_form[education]['+number.to_s+'][institution]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <%= label_tag 'application_form[education]['+number.to_s+'][city]', t('application_form.step1.city') %>
          <%= text_field_tag 'application_form[education]['+number.to_s+'][city]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field date">
          <%= label_tag 'application_form[education]['+number.to_s+'][finished]', t('application_form.step2.finished') %>
          <%= date_select 'application_form[education]['+number.to_s+']', 'finished', :start_year => 1975 %>
          <script type="text/javascript">
            $("#application_form_education_<%= number %>_finished_1i").MyDropdown();
            $("#application_form_education_<%= number %>_finished_2i").MyDropdown();
            $("#application_form_education_<%= number %>_finished_3i").MyDropdown();
          </script>
        </div>
        <div class="field">
          <%= label_tag 'application_form[education]['+number.to_s+'][speciality]', t('application_form.step2.speciality') %>
          <%= text_field_tag 'application_form[education]['+number.to_s+'][speciality]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="arrow_down"></div>
    </fieldset>
    <% end %>

    <fieldset>
      <legend class="box"><%= t('application_form.step3.title') %></legend>
      <div class="box">
        <div class="field big_select center">
          <%= label_tag 'application_form[professional][position]', t('application_form.step3.position') %>
          <%= select 'application_form[professional]', 'position', positions.collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_professional_position").MyDropdown();</script>
          <div class="clear"></div>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[professional][english_level]', t('application_form.step3.english_level') %>
          <%= select 'application_form[professional]', 'english_level', english_levels.collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_professional_english_level").MyDropdown();</script>
        </div>
        <div class="field">
          <%= label_tag 'application_form[professional][salary]', t('application_form.step3.salary') %>
          <%= text_field_tag 'application_form[professional][salary]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[professional][malta_endorsement]', t('application_form.step3.malta_endorsement') %>
          <%= select 'application_form[professional]', 'malta_endorsement', [:yes, :no].collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_professional_malta_endorsement").MyDropdown();</script>
        </div>
        <div class="field month_year">
          <%= label_tag 'application_form[professional][date_availability]', t('application_form.step3.date_availability') %>
          <div class="month">
            <%= select_month(Date.today, prefix: 'application_form[professional]', field_name: 'date_availability_month') %>
            <script type="text/javascript">$("#application_form_professional_date_availability_month").MyDropdown();</script>
          </div>
          <div class="year">
            <%= select_year(Date.today, start_year: Date.today.year, prefix: 'application_form[professional]', field_name: 'date_availability_year') %>
            <script type="text/javascript">$("#application_form_professional_date_availability_year").MyDropdown();</script>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="arrow_down"></div>
    </fieldset>

    <fieldset style="margin-bottom: 0">
      <legend class="box"><%= t('application_form.step4.title') %></legend>
      <% 3.times do |number| %>
      <div class="box extra">
        <div class="field">
          <%= label_tag 'application_form[contract]['+number.to_s+'][vessel_name]', t('application_form.step4.vessel_name') %>
          <%= text_field_tag 'application_form[contract]['+number.to_s+'][vessel_name]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <%= label_tag 'application_form[contract]['+number.to_s+'][vessel_number]', t('application_form.step4.vessel_number') %>
          <%= text_field_tag 'application_form[contract]['+number.to_s+'][vessel_number]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[contract]['+number.to_s+'][vessel_type]', t('application_form.step4.vessel_type') %>
          <%= select 'application_form[contract]['+number.to_s+']', 'vessel_type', vessel_type.collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_contract_<%= number %>_vessel_type").MyDropdown();</script>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[contract]['+number.to_s+'][vessel_flag]', t('application_form.step4.vessel_flag') %>
          <%= select 'application_form[contract]['+number.to_s+']', 'vessel_flag', vessel_flags.collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_contract_<%= number %>_vessel_flag").MyDropdown();</script>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[contract]['+number.to_s+'][vessel_build]', t('application_form.step4.vessel_build') %>
          <%= select_year Date.today, start_year: 1970, end_year: Date.today.year, prefix: 'application_form[contract]['+number.to_s+']', field_name: 'vessel_build' %>
          <script type="text/javascript">$("#application_form_contract_<%= number %>_vessel_build").MyDropdown();</script>
        </div>
        <div class="field">
          <%= label_tag 'application_form[contract]['+number.to_s+'][dwt]', 'DWT:' %>
          <%= text_field_tag 'application_form[contract]['+number.to_s+'][dwt]', nil, class: 'input validate[required] required' %>
        </div>
        <div class="field">
          <div class="engine_type">
            <%= label_tag 'application_form[contract]['+number.to_s+'][main_engine_type]', t('application_form.step4.main_engine_type') %>
            <%= text_field_tag 'application_form[contract]['+number.to_s+'][main_engine_type]', nil, class: 'input validate[required] required' %>
          </div>
          <div class="power">
            <%= label_tag 'application_form[contract]['+number.to_s+'][power]', t('application_form.step4.power') %>
            <%= text_field_tag 'application_form[contract]['+number.to_s+'][power]', nil, class: 'input validate[required] required' %>
          </div>
        </div>
        <div class="field big_select">
          <%= label_tag 'application_form[contract]['+number.to_s+'][rank]', t('application_form.step4.rank') %>
          <%= select 'application_form[contract]['+number.to_s+']', 'rank', ranks.collect { |p| [ p, p] } %>
          <script type="text/javascript">$("#application_form_contract_<%= number %>_rank").MyDropdown();</script>
        </div>
        <div class="field date">
          <%= label_tag 'application_form[contract]['+number.to_s+'][date_start]', t('application_form.step4.date_start') %>
          <%= date_select 'application_form[contract]['+number.to_s+']', 'date_start', :start_year => 1975 %>
          <script type="text/javascript">
            $("#application_form_contract_<%= number %>_date_start_1i").MyDropdown();
            $("#application_form_contract_<%= number %>_date_start_2i").MyDropdown();
            $("#application_form_contract_<%= number %>_date_start_3i").MyDropdown();
          </script>
        </div>
        <div class="field date">
          <%= label_tag 'application_form[contract]['+number.to_s+'][date_end]', t('application_form.step4.date_end') %>
          <%= date_select 'application_form[contract]['+number.to_s+']', 'date_end', :start_year => 1975 %>
          <script type="text/javascript">
            $("#application_form_contract_<%= number %>_date_end_1i").MyDropdown();
            $("#application_form_contract_<%= number %>_date_end_2i").MyDropdown();
            $("#application_form_contract_<%= number %>_date_end_3i").MyDropdown();
          </script>
        </div>
        <div class="clear"></div>
        <div class="arrow_down"></div>
      </div>
      <% end %>
    </fieldset>

    <div class="box submit">
      <%= submit_tag t('submit') %>
    </div>
  <% end -%>

  <%= render partial: 'thanks' %>
</div>