<%= stylesheet_link_tag "jquery.fancybox" %>
<%= javascript_include_tag "pages", "jquery.fancybox" %>
<script type="text/javascript">
  $(function() {
    setInterval("slideSwitch()", 5000);
    $(".fancybox").fancybox();
  });
</script>

<div class="slideshow">
  <div class="slideshow_cover"></div>
  <div id="slideshow">
    <% @page.pictures.each_with_index do |c, i| %>
      <%= image_tag c.file.url(:normal), class: "#{i==0 ? 'active' : ''}" %>
    <% end if @page.pictures %>
  </div>
</div>

<div class="wrapper_700">
  <h3 class="title"><%== show_translate(@page, :title) %></h3>
  <div class="text"><%== show_translate(@page, :content) %></div>

  <div class="certificates">
    <% @page.certificates.each do |c| %>
      <% next unless c.file? %>
      <% if c.file.geometry.last.to_i <= 310 %>
        <%= image_tag c.file.url, style: 'border: none !important' %>
      <% else %>
        <%= link_to image_tag(c.file.url(:small)), c.file.url, class: 'fancybox' %>
      <% end %>
    <% end if @page.certificates %>
  </div>
</div>