<%= stylesheet_link_tag "validationEngine.jquery" %>
<%= javascript_include_tag "jquery.validationEngine", "jquery.validationEngine-#{locale}", "jquery.dropdown" %>
<script type="text/javascript">
  function custom_validator() {
    var count_required = $(".required").length;
    var count_required_values = 0;
    $(".required").each(function(i,e){
      var value = e.value;
      if (value != '') count_required_values += 1;
    });

    if (count_required == count_required_values) {
      $('form .submit').animate({opacity: 1});
      $('form .submit input').prop('disabled', false).removeClass('disabled');
    } else {
      $('form .submit').animate({opacity: 0.50});
      $('form .submit input').prop('disabled', true).addClass('disabled');
    }
  }

  $(function() {
    $(".required").keyup(function(){custom_validator()});
    $("form .submit").animate({opacity:0.50}).find('input').prop('disabled', true).addClass('disabled');
    $("form").validationEngine('attach', {relative: true});

    $("form").live('ajax:before', function(event, elements) {
      $(".submit input").prop('disabled', true);
      $("form").fadeTo("slow", 0.00, function(){
        $('.thanks').fadeTo("slow", 1);
        $(this).slideUp("slow");
      });
    });

    $('a.send').click(function(){
      $(".thanks").fadeTo("slow", 0.00, function(){
        $(this).slideUp("fast");
        $('form').fadeTo("slow", 1);
        $(".submit input").prop('disabled', false);
      });
      return false;
    });
  });
</script>

<div class="wrapper_700 contacts tech_dep">
  <h3 class="title"><%== show_translate(@page, :title) %></h3>
  <div class="text"><%== show_translate(@page, :content) %></div>
  <div class="map"><%== @page.extra %></div>
  <div class="clear"></div>

  <div class="breaker br4"></div>
  <%= form_tag(contacts_send_path(locale), :remote => true) do -%>
    <div class="box">
      <h5><%== t('contacts.email_title') %></h5>
      <fieldset id="step_1">
        <%= label_tag 'message[first_name]', t('contacts.first_name') %>
        <%= text_field_tag 'message[first_name]', nil, class: 'input validate[required] required' %>

        <%= label_tag 'message[last_name]', t('contacts.last_name') %>
        <%= text_field_tag 'message[last_name]', nil, class: 'input validate[required] required' %>

        <%= label_tag 'message[email]', t('chartering.email') %>
        <%= text_field_tag 'message[email]', nil, class: 'input validate[required] required' %>
      </fieldset>
      <fieldset id="step_2">
        <%= label_tag 'message[department]', t('contacts.department') %>
        <%= select 'message', 'department', departments.collect { |p| [ p, p] }, class: 'input validate[required]' %>
        <script type="text/javascript">$("#message_department").MyDropdown();</script>

        <%= label_tag 'message[message]', t('technical_department.message') %>
        <%= text_area_tag 'message[message]', nil, onKeyDown: "limitText(this,this.form.count,162);", onKeyUp: "limitText(this,this.form.count,162);" %>

        <div class="symbols">
          <span class="symbols_left"><%= t('technical_department.symbols_left') %></span>
          <%= text_field_tag 'count', 162, readonly: 'readonly', class: 'symbols_count' %>
        </div>
      </fieldset>
      <div class="clear"></div>
      <div class="arrow_down"></div>
    </div>
    <div class="box submit">
      <%= submit_tag t('submit') %>
    </div>
  <% end -%>

  <%= render partial: 'thanks' %>

</div>