<%= stylesheet_link_tag "validationEngine.jquery" %>
<%= javascript_include_tag "jquery.validationEngine", "jquery.validationEngine-#{locale}" %>
<script type="text/javascript">
  function custom_validator() {
    var count_required = $(".required").length;
    var count_required_values = 0;
    $(".required").each(function(i,e){
      var value = e.value;
      if (value != '') count_required_values += 1;
    });

    if (count_required == count_required_values) {
      $('form .submit').animate({opacity: 1});
      $('form .submit input').prop('disabled', false).removeClass('disabled');
    } else {
      $('form .submit').animate({opacity: 0.50});
      $('form .submit input').prop('disabled', true).addClass('disabled');
    }
  }

  function onloadstartHandler(evt) {
    $('.loading').show();
  }

  function onloadHandler(evt) {
    $('.loading').hide();
    $(".form").fadeTo("slow", 0.00, function(){
      $('.thanks').fadeTo("slow", 1);
      $(this).slideUp("slow");
    });
  }

  $(function() {
    $(".required").keyup(function(){custom_validator()});

    $("form .submit").animate({opacity:0.50}).find('input').prop('disabled', true).addClass('disabled');
    $('form').live('ajax:aborted:file', function(event, elements){
      $(".submit input").prop('disabled', true);

      var form = document.getElementById('the-form');
      var formData = new FormData(form);

      var xhr = new XMLHttpRequest();
      xhr.upload.addEventListener('loadstart', onloadstartHandler, false);
      xhr.upload.addEventListener('load', onloadHandler, false);
      xhr.open('POST', form.getAttribute('action'), true);
      xhr.send(formData);

      return false;
    });

    $("form").validationEngine('attach', { relative: true });

    $('a.send').click(function(){
      $(".thanks").fadeTo("slow", 0.00, function(){
        $(this).slideUp("fast");
        $('.form').fadeTo("slow", 1);
        $(".submit input").prop('disabled', false);
      });
      return false;
    });
  });
</script>

<div class="wrapper_700 crewing">
  <h3 class="title"><%== show_translate(@page, :title) %></h3>

  <div class="wrapper_580">
    <div class="text">
      <%== show_translate(@page, :content) %>
      <div class="clear"></div>
    </div>
  </div>

  <div class="breaker br4"></div>
  <div class="box">
    <%= link_to t('crewing.app_form').html_safe, application_form_path(locale), class: 'app_form' %>
  </div>
  <div class="breaker br4"></div>

  <div class="app_form_info">
    <%= t('crewing.app_form_info', form: link_to('Application Form', '/application_form.zip'), email: mail_to('af@transyug.com')).html_safe %>
  </div>

  <div class="box form">
    <div class="left">
      <h5><%= t('crewing.app_form_title').html_safe %></h5>
      <p><%= t('crewing.app_form_description').html_safe %></p>
    </div>
    <%= form_tag(crewing_send_path(locale), remote: true, multipart: true, id: 'the-form') do -%>
      <fieldset>
        <%= label_tag 'message[name]', t('chartering.first_last_name') %>
        <%= text_field_tag 'message[name]', nil, class: 'input validate[required] required' %>
        <div class="file_field">
          <div class="loading"></div>
          <%= label_tag 'message[file]', t('crewing.file') %>
          <%= file_field_tag 'message[file]', class: 'input', onchange: "document.getElementById('file').value = this.value;" %>
          <%= text_field_tag 'file', nil, id: 'file', readonly: true, class: 'input' %>
          <span><%= t('crewing.file_support') %></span>
        </div>
      </fieldset>
      <div class="cover">
        <div class="arrow_down"></div>
        <div class="box submit">
          <%= submit_tag t('submit') %>
        </div>
      </div>
      <div class="clear"></div>
    <% end -%>
    <div class="clear"></div>
  </div>

  <%= render partial: 'thanks' %>
</div>