<div class="wrapper_700 crewing">
  <h3 class="title"><%== show_translate(@page, :title) %></h3>

  <div class="wrapper_580">
    <div class="text">
      <%== show_translate(@page, :content) %>
      <div class="clear"></div>
    </div>
  </div>

  <div class="breaker br4"></div>
  <div class="box">
    <%= link_to t('crewing.app_form').html_safe, application_form_path(locale), class: 'app_form' %>
  </div>
  <div class="breaker br4"></div>

  <div class="app_form_info">
    <%= t('crewing.app_form_info', form: link_to('Application Form', '/application_form.zip'), email: mail_to('af@transyug.com')).html_safe %>
  </div>

  <div class="box form">
    <div class="left">
      <h5><%= t('crewing.app_form_title').html_safe %></h5>
      <p><%= t('crewing.app_form_description').html_safe %></p>
    </div>
    <div class="clear"></div>
  </div>

</div>