<div class="wrapper_700">
  <h3 class="title"><%= t("menu.fleet") %></h3>
  <div class="text m_b_30"><%== show_translate(@page, :content) %></div>

  <div class="breaker br4"></div>
  <div class="vessels m_b_60">
    <ul>
      <% @vessels.each do |v| %>
      <li>
        <div class="breaker br3"></div>
        <a href="<%= fleet_show_path(locale, v.id) %>" class="vessel">
          <%= image_tag(v.images.first.file.url(:mini)) rescue nil %>
          <h5 style="width: 130px"><%== show_translate(v, :title) %></h5>
          <%== show_translate(v, :description) %>
        </a>
      </li>
      <% end %>
    </ul>
    <div class="breaker br4"></div>
  </div>

  <% if @vessels_archive.size > 0 %>
  <h3 class="title"><%= t("archive") %></h3>
  <div class="breaker br4"></div>
  <div class="vessels m_b_30">
    <ul>
      <% @vessels_archive.each do |v| %>
      <li>
        <div class="breaker br3"></div>
        <a href="<%= fleet_show_path(locale, v.id) %>" class="vessel">
          <%= image_tag(v.images.first.file.url(:mini)) rescue nil %>
          <h5 style="width: 130px"><%== show_translate(v, :title) %></h5>
          <%== show_translate(v, :description) %>
        </a>
      </li>
      <% end %>
    </ul>
    <div class="breaker br4"></div>
  </div>
  <% end %>
</div>